.text-primary {
  color: $primary;
}
.text-accent {
  color: $accent;
}
.text-success {
  color: $success;
}
.text-warning {
  color: $warning;
}
.text-danger {
  color: $danger;
}
.text-info {
  color: $info;
}
.bg-primary {
  background-color: $primary;
  color: white;
}
.bg-accent {
  background-color: $accent;
  color: white;
}
.bg-success {
  background-color: $success;
  color: white;
}
.bg-warning {
  background-color: $warning;
  color: white;
}
.bg-danger {
  background-color: $danger;
  color: white;
}
.bg-info {
  background-color: $info;
  color: white;
}
