// RESET
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
// RESPONSIVENESS
.row {
  display: flex;
  gap: 1em;
  // .col {
  //   width: 100%;
  // }
}
.row > * {
  flex-basis: 100%;
  padding: 1rem;
}
@media (max-width: ($lg - 1)) {
  .row {
    flex-direction: column;
  }
}
// HELPERS
.max-w-sm {
  max-width: $sm;
}
.m-auto {
  margin: auto;
}
@media (max-width: ($lg - 1)) {
  .hidden-smaller-lg {
    display: none !important;
  }
}
@media (min-width: $lg) {
  .hidden-bigger-lg {
    display: none !important;
  }
}
