// COLORS
$body: #333333;
$label: gray;
$primary: #0080fa;
$accent: #ffb600;
$success: #2dd36f;
$warning: #e7b40c;
$danger: #e44554;
$info: #779dca;

// BREAKPOINTS
$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
